<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="./css/style.css">
    <title>Tech blogger</title>
</head>
<body>
    <div class="flex-column justify-space-around"> 
        <header class="display-flex justify-space-between align-center p-2">
            <h1>
                <a href="/"> Tech Blogger </a>
            </h1>
        </header>

        <nav>
            {{#if logged_in}}
            <a href="/profile">profile</a>
            <button class="no-button" id="logout">logout</button>
            {{else}}
            <a href="/login">login</a>
            <a href="/signup">signup</a>
            {{/if}}
        </nav>

        <main class = "conteainer container-fluid mt-5">
            {{{body}}}

        </main>

    </div>
    
</body>
</html>